<footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <hr>

        <div class="row">

          <div class="col-lg-12">

            <div class="row">

              <div class="col-sm-6">

                <div class="footer-info">
                  <h2>RetroZero</h2>
                  <p>RetroZero convertit les véhicules en électrique à l'aide d'un procédé qui recycle et réutilise les éléments des voitures électriques non-valorisés.</p>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="footer-links">
                  <h4>Contact</h4>
                  <p>
                    Thonon-les-Bains<br>
                    <strong>Email :</strong> <a href = "mailto: abc@example.com">info@retrozero.fr</a><br>
                  </p>
                </div>

                <div class="social-links">
                  <a href="https://www.facebook.com/RetroZeroFrance" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/seosaphmuller/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>

              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; RetroZero 2021
      </div>
    </div>
  </footer>