<section id="{{ page.title | slugify:'latin' }}" class="hero clearfix">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center" data-aos="fade-up">
      <div class="col-md-6 intro-info order-md-last order-last" data-aos="zoom-in" data-aos-delay="100">
        {{ content }}
      </div>

      <div class="col-md-6 intro-img order-md-first order-first" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{ site.url }}{{ site.baseurl }}{{ page.image }}" alt="" class="img-fluid">
     </div>
    </div>
  </div>
</section>
