<section id="testimonials" class="testimonials section-bg">
  <div class="container" data-aos="zoom-in">

    <header class="section-header">
    <h3>{{ page.title }}</h3>
    </header>

    <div class="row justify-content-center">
      <div class="col-lg-8">
      <div class="owl-carousel testimonials-carousel">
        <div class="testimonial-item">
        <img src="{{ site.url }}{{ site.baseurl }}{{ page.image }}" class="testimonial-img" alt="">
        {{ content }}
        </div>
      </div>
    </div>
    </div>
  </div>
</section>