<section id="features" class="features">
    <div class="container" data-aos="fade-up">
        <div class="row feature-item">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{{ site.url }}{{ site.baseurl }}{{ page.image }}" class="img-fluid" alt="">
            </div>
            
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
                <h2>{{ page.title }}</h2>
            {{ content }}
            </div>
        </div>
    </div>
</section>