---
layout: default
---

{% include utils/i18n.liquid %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <ol>
            <li><a href="{{ site.url }}{{ site.baseurl }}/index.html">Home</a></li>
            <li>{{ page.title }}</li>
          </ol>
          <h2>{{ page.title }}</h2>
  
        </div>
      </section><!-- End Breadcrumbs -->
  
      <section class="inner-page pt-4">
        <div class="container">
          <p>
            {{ content}}
          </p>
        </div>
      </section>
  
    </main><!-- End #main -->
</main>


